[Unit]
Description=TF Mini Service sending LiDAR Frames over UDP

[Service]
Type=simple
ExecStart=tfmini --measure-cm --set-update-rate 3 --socket-udp 10.255.254.181:5001
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
