[Unit]
Description=TF Mini Service sending LiDAR Frames over UDP

[Service]
Type=forking
ExecStart=/usr/local/bin/tfmini --measure-cm --daemon --socket-udp 127.0.0.1:2210
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
